<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ediposouza.teslesgendstracker">

    <permission
        android:name="com.ediposouza.teslesgendstracker.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.ediposouza.teslesgendstracker.permission.C2D_MESSAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.DashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--Deeplink -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/app_deeplink_host"
                    android:scheme="@string/app_deeplink_scheme" />

            </intent-filter>
        </activity>
        <activity
            android:name=".ui.cards.CardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTransparent" />
        <activity
            android:name=".ui.cards.CardFullArtActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTransparent" />
        <activity
            android:name=".ui.decks.DeckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.decks.NewDeckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.matches.MatchesStatisticsClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.matches.NewMatchesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAccentEqualsPrimaryDark"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.seasons.PatchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTransparent" />
        <activity
            android:name=".ui.arena.NewArenaActivity"
            android:screenOrientation="portrait" />

        <!-- Receivers -->

        <receiver
            android:name="com.mixpanel.android.mpmetrics.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.ediposouza.teslesgendstracker" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
            android:enabled="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Services -->

        <service android:name=".ui.util.PushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Meta Data -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_legend" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>

</manifest>