<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ediposouza.teslesgendstracker">

    <permission
        android:name="com.ediposouza.teslesgendstracker.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.ediposouza.teslesgendstracker.permission.C2D_MESSAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".ui.DashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.cards.CardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTransparent" />
        <activity
            android:name=".ui.decks.DeckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.decks.NewDeckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.matches.MatchesStatisticsClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.matches.NewMatchesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAccentEqualsPrimaryDark"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.seasons.PatchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTransparent" />
        <activity
            android:name=".ui.arena.NewArenaActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.mixpanel.android.mpmetrics.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.ediposouza.teslesgendstracker" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_legend" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e056905fcbc01f84ea9cad8acf63b74cb07f2506" />
    </application>

</manifest>